@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">captain jacks channel cruise</h1>
    <p>learn about <a href="https://learn.microsoft.com/aspnet/core">building web apps with asp.net core</a>.</p>
</div> *@
<div class="container-fluid p-0">
    <div class="hero-image">
        <div class="hero-text">
            <h1> Captain Jacks Channel Cruise</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="column">
        <div class="container">
            <img src="/Images/DepartureCard1.jpg" alt="Error" width="250" height="320">
            <div class="centered">Centered</div>
        </div>
    </div>
    <div class="column">
        <div class="container">
            <img src="/Images/DepartureCard2.jpg" alt="Error" width="250" height="320">
            <div class="centered">Centered</div>
            <div class="centered-top">Centered top</div>
        </div>
    </div>
    <div class="column">
        <div class="container">
            <img src="/Images/DepartureCard3.jpg" alt="Error" width="250" height="320">
            <div class="centered">Centereddsdsds</div>
        </div>
    </div>
</div>

<div class="flex-container">
    <div>
        <div class="container">
            <img src="/Images/DepartureCard3.jpg" alt="Error" width="250" height="320">
            <div class="centered">Centereddsdsds</div>
        </div>
    </div>
    <div>
        <div class="container">
            <img src="/Images/DepartureCard3.jpg" alt="Error" width="250" height="320">
            <div class="centered">Centereddsdsds</div>
        </div>
    </div>
    <div>
        <div class="container">
            <img src="/Images/DepartureCard3.jpg" alt="Error" width="250" height="320">
            <div class="centered">Centereddsdsds</div>
        </div>
    </div>
</div>


