@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h5>Opsamlede data</h5>
<p>Et personhenførbart datasæt opsamles: [Person for- og efternavn, E-mail adresse]</p>
<h5>Formål med opsamlingen af datasættet</h5>
<p></p>
<h5>Hvem har adgang til data?</h5>
<p>Autentiserede og autoriserede </p>
<h5>Lovmæssig baggrund for opsamlingen af datasættet</h5>
<p>Legitim interesse med henvisning til formål</p>
<h5>Hvordan afgøres hvornår datasættet ikke længere tjener et formål?</h5>
<p>Når eksamensforløbet er afsluttet</p>
<h5>Destruktion eller anonymisering af datasættet</h5>
<p>Datasættet destrueres senest i starten af februar</p>
<h5>Kontaktperson</h5>
<p>Lasse.</p>

