html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    background: url('/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    padding: 0;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.container-fluid {
    display: flex;
    justify-content: left;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin: 0;
    max-width: 100vw;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/Images/Banner2.jpg");
    width: 100vw;
    height: 40vh;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}
.hero-image::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 5px;
        background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.4));
        z-index: 1; /* Ensures this sits above the image */
}
    .hero-image h1 {
        color: white;
        z-index: 2; /* Keeps text above the pseudo-elements */
        font-size: 2.5rem;
    }

.hero-text {
    text-align: center;
    color: white;
    position: relative;
    z-index: 1;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered-top {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

.flex-container {
    display: flex;
    justify-content: center;
}
